@model WebApplication11.Models.BRANCH

@{
    ViewData["Title"] = "Delete";
}



<main id="main" class="main">

    <div class="pagetitle" style="width:fit-content">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Branch</li>
                <li class="breadcrumb-item active">Delete</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row" style="width:max-content;align-content:center">
            <div>

                <div class="card" style="width:70%;align-content:center">
                    <div class="card-body" style="align-self:center;">
                        <h5 class="card-title">Delete</h5>


                        <h3>Are you sure you want to delete this?</h3>
                        <div style="align-self:center">
                            <h4>Branch</h4>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CODE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.CODE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ADDRESS)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.ADDRESS)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PHONE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.PHONE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.EMAIL)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.EMAIL)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.OPEN_DATE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.OPEN_DATE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NOTE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.NOTE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DESCRPTION)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.DESCRPTION)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-sim btn-outline-danger bi-eraser" style="margin-left:8cm" />
                                <a asp-action="Index" class=" btn btn-sim btn-outline-dark">Back to List</a>
                            </form>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->
