@model WebApplication11.Models.BRANCH

@{
    ViewData["Title"] = "Details";
}











<main id="main" class="main">

    <div class="pagetitle" style="width:fit-content">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Branch</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row" style="width:max-content;align-content:center">
            <div>

                <div class="card" style="width:70%;align-content:center">
                    <div class="card-body" style="align-self:center;">
                        <h5 class="card-title">Details</h5>
                        <div>
                            <h4>Branch</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CODE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.CODE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ADDRESS)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.ADDRESS)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PHONE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.PHONE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.EMAIL)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.EMAIL)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.OPEN_DATE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.OPEN_DATE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NOTE)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.NOTE)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DESCRPTION)
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => model.DESCRPTION)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sim btn-outline-primary" style="margin-left:8cm">Edit</a>
                            <a asp-action="Index" class="btn btn-sim btn-outline-dark">Back to List</a>
                        </div>





                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->