@model WebApplication11.Models.HANDHELD

@{
    ViewData["Title"] = "Details";
}

 



<main id="main" class="main">

    <div class="pagetitle" style="width:fit-content">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">DEVICES</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">



        <div class="card" style="width:100%;align-content:center">
            <div class="card-body" style="align-self:center;align-items:center;width:90%">
                <h5 class="card-title">Details</h5>



                <div>
                    <h4>Handheld</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CODE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CODE)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NAME)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NAME)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MODEL)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MODEL)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SERIAL_NUMBER)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SERIAL_NUMBER)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Processor)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Processor)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.RAM_SIZE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RAM_SIZE)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ANDROID_VERSION)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ANDROID_VERSION)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Is_warehouse)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Is_warehouse)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.RECIVED_DEVICE_DATE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RECIVED_DEVICE_DATE)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.RE_RECIVED_DEVICE_DATE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RE_RECIVED_DEVICE_DATE)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NOTE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NOTE)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.EMPLOYEE)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.EMPLOYEE.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.WAREHOUSE_STOCK)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.WAREHOUSE_STOCK.Name)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sim btn btn-outline-primary" style="margin-left:6cm">Edit</a> 
                    <a asp-action="Index" class="btn btn-sim btn btn-outline-dark">Back to List</a>
                </div>







            </div>
        </div>



    </section>

</main><!-- End #main -->
